.why-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 12px;
}
.card-spot {
    position: absolute;
    top: 4px;
    left: -8px;
    z-index: -1;
}
.icon-container {
    position: relative;
}

.card-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 800;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 16px;
    }
}
