.review-photo-container {
    min-width: 35%;
}

.review {
    width: 100%;
    object-fit: cover;
    /* border-radius: 24px;
    border: 1px solid #e2e2e2; */
}

@media (max-width: 991px) {
    .review-photo-container {
        min-width: 50%;
    }
}

@media (max-width: 768px) {
    .review-photo-container {
        min-width: 75%;
    }
}

@media (max-width: 600px) {
    .review-photo-container {
        min-width: 100%;
    }
}
