.photo-container {
    min-width: 49.5%;
}
.photos .slides-container {
    gap: 12px;
}

.photo {
    height: 400px;
    object-fit: cover;
    border-radius: 24px;
}

@media (max-width: 768px) {
    .photo-container {
        min-width: 75%;
    }
}

@media (max-width: 600px) {
    .photo-container {
        min-width: 85%;
    }
}
