.our-story {
    display: flex;
    align-items: start;
    gap: 32px;
    transition: all 2s;
}

.story-content {
    margin-top: 80px;
    padding-right: 80px;
}

.story-img-container {
    position: relative;
    flex-shrink: 0;
}

.story-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.teacher-name {
    position: absolute;
    font-size: 30px;
    z-index: 10;
    font-weight: 700;
    color: #111;
}

.name1 {
    top: 35px;
    left: 11px;
}
.name2 {
    top: 115px;
    right: 30%;
}

.name2 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.name3 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.name3 {
    bottom: 140px;
    right: 23%;
}

.story-part2 {
    max-height: 0;
    overflow-x: hidden;
    transition: max-height 0.5s ease-out;
}

.story-part2::-webkit-scrollbar {
    display: none;
}

.story-part2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.story-part2.open {
    max-height: 1000px;
    overflow: auto;
}

.our-story h2 {
    margin-bottom: 54px;
}
.our-story h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}
.story-part1 {
    margin-bottom: 32px;
}
.story-part1,
.story-part2 {
    font-size: 14px;
    line-height: 21px;
}
.story-caption {
    padding-bottom: 12px;
}
.toggle-story-btn {
    line-height: 32px;
    font-size: 18px;
    text-decoration: underline;
    padding-top: 4px;
}

@media (max-width: 991px) {
    .story-img-container {
        width: 85%;
    }
    .story-content {
        padding-right: 32px;
        padding-left: 32px;
    }
    .our-story {
        flex-direction: column-reverse;
    }

    .our-story h2 {
        margin-bottom: 32px;
    }
}

@media (max-width: 768px) {
    .story-caption {
        font-size: 18px !important;
    }

    .story-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .teacher-name {
        font-size: 22px;
    }

    .name2 {
        top: 80px;
    }

    .name2 svg {
        width: 90px;
    }

    .name3 {
        bottom: 90px;
    }

    .name3 svg {
        width: 90px;
    }
}

@media (max-width: 600px) {
    .name2 svg {
        width: 65px;
    }
    .name3 svg {
        width: 65px;
    }
    .teacher-name {
        font-size: 17px;
    }
    .name2 {
        top: 40px;
    }
    .name3 {
        bottom: 50px;
    }
}
