.enroll-btn {
    height: 68px;
    width: 220px;
    background-color: #ffdf18;
    border: 1px solid #838181;
    font-size: 18px;
    line-height: 24px;
    border-radius: 32px;
    font-weight: 700;
    transition: all 0.3s;
}
.black {
    background-color: #231f20;
    color: #fcfcfc;
}
.on-card {
    position: absolute;
    bottom: 19px;
    height: 48px;
    transform: translateX(-50%);
    margin-left: 50%;
    width: 241px;
    border: none;
}

.enroll-btn:hover {
    background-color: #231f20;
    color: #fcfcfc;
}
.black:hover {
    background-color: #ffdf18;
    color: #231f20;
}
