.not-found {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 76px;
    padding-left: 20px;
    padding-right: 20px;
}

.not-found-img {
    max-width: 303px;
}

.not-found-title {
    color: #838181;
    font-size: 32px;
    font-weight: 700;
}

.not-found-link {
    display: block;
    width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231f20;
    color: #fcfcfc;
    border: 1px solid #838181;
    font-size: 18px;
    line-height: 24px;
    border-radius: 100px;
    font-weight: 700;
    transition: all 0.3s;
}

.not-found-link:hover {
    background-color: #ffdf18;
    color: #231f20;
}

@media (max-width: 600px) {
    .not-found {
        row-gap: 60px;
    }

    .not-found-img {
        max-width: 90%;
    }

    .not-found-title {
        font-size: 28px;
    }

    .not-found-link {
        width: 100%;
        font-size: 16px;
    }
}
