.nav {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px 80px;

    background-color: #fcfcfc;
    z-index: 100;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-descr {
    color: #231f20;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    display: none;
}

select {
    cursor: pointer;
    background-color: #fcfcfc;
    color: #231f20;
    font-size: 18px;
    font-weight: 500;
}

.burger {
    width: 54px;
    height: 54px;
    border-radius: 1000px;

    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border: 1px solid #231f20;
}

.burger:hover {
    transform: scale(0.9);
}

.nav-logo {
    max-width: 180px;
    flex-shrink: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;

    padding: 19px 24px;
    border-radius: 10000px;
    border: 1px solid #231f20;
}

.nav-link {
    color: #231f20;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.36px;
    transition: all 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-btn {
    display: flex;
    height: 68px;
    padding: 18px 48px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border-radius: 32px;
    border: 1px solid #838181;
    background-color: #ffdf18;
    transition: all 0.3s;
}

.nav-btn:hover {
    background-color: #231f20;
    color: #fcfcfc;
}

.phone-link {
    display: none;
    color: #000;
    font-style: normal;
    font-weight: 700;
    transition: all 0.3s;
    margin-top: 32px;
}

.phone-link:hover {
    text-decoration: underline;
}

.nav .socials {
    display: none;

    margin-top: 32px;
    gap: 12px;
    padding: 0;
}

.nav-link-mobile {
    display: none;
}

@media (max-width: 1200px) {
    .nav-logo {
        max-width: 120px;
        flex-shrink: 0;
    }
    .nav-menu {
        padding: 10px 14px;
    }
    .nav-btn {
        padding: 8px 16px;
        height: 50px;
    }

    .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .nav-link-mobile {
        display: block;
    }
    .nav .socials {
        display: flex;
    }

    .phone-link {
        display: block;
    }
    .nav-descr {
        display: block;
        margin-bottom: 32px;
        max-width: 230px;
    }
    .nav-btn {
        display: none;
    }

    .burger {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        top: 99px;
        right: 0;
        height: 100%;
        overflow-y: auto;

        width: 300px;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: #fcfcfc;
        transform: translateX(100%);
        border: none;
        padding: 32px 24px;
        border-radius: 0;
        transition: transform 0.3s ease;
        z-index: 10;
        box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
    }

    .nav-link {
        width: 100%;
        padding: 12px;
    }

    select {
        width: 100%;
        padding: 12px;
    }

    .nav-menu.open {
        transform: translateX(0);
    }
}

@media (max-width: 991px) {
    .nav {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 768px) {
    .nav {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 600px) {
    .nav-menu {
        padding: 32px;
        width: 100%;
        align-items: center;
    }

    .nav-link {
        text-align: center;
        display: inline;
    }

    select {
        display: inline;
        width: fit-content;
    }
}
