.why-us-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    align-items: start;
    gap: 48px;
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 136px 80px;
    gap: 54px;
}

@media (max-width: 991px) {
    .why-us {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 900px) {
    .why-us-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .why-us {
        padding: 74px 20px;
    }
}

@media (max-width: 600px) {
    .why-us-grid {
        gap: 12px;
    }
}
