.career {
    background-repeat: no-repeat;
    background-size: cover;
    height: 512px;
    width: 100%;
}

.career-cta {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-right: 80px;
    padding-left: 80px;
}

.career-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fill-form-btn {
    padding-right: 20px;
    padding-left: 20px;
    width: fit-content;
}
.career-text {
    font-size: 18px;
    line-height: 28px;
    max-width: 790px;
}

@media (max-width: 991px) {
    .career {
        height: 720px;
        background-size: cover;
    }
    .career-cta {
        padding-right: 32px;
        padding-left: 32px;
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 768px) {
    .career {
        background-position: right;
    }

    .career-cta {
        padding-right: 20px;
        padding-left: 20px;
    }
}
