.gift-section {
    padding-bottom: 136px;
}

.gift {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 70px;
    padding-right: 80px;
    padding-left: 80px;
}
.gift-card-title {
    margin-bottom: 24px;
}
.gift-card-desc {
    font-size: 18px;
    line-height: 28px;
}
.gift-card-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buy-btn_mobile {
    display: none;
    background-color: #231f20;
    color: #fcfcfc;
    margin: 0 auto;
    margin-top: 36px;
}

.buy-btn_mobile:hover {
    background-color: #ffdf18;
    color: #231f20;
}

.enroll-link {
    display: inline-block;
    width: min-content;
    height: min-content;
    margin-top: 42px;
    border-radius: 32px;
}

@media (max-width: 991px) {
    .gift {
        padding-left: 32px;
        padding-right: 32px;
        flex-wrap: wrap-reverse;
    }

    .gift-card-content {
        width: 100%;
        text-align: left;
    }

    .buy-btn {
        display: none;
    }
    .buy-btn_mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    .gift {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gift-card {
        width: 70%;
    }
    .gift-section {
        padding-bottom: 74px;
    }
}
