.contact-form {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 54px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 80px;
    padding-left: 80px;
}

.contact-form form {
    width: 38%;
}

.input-name,
.input-number {
    background-color: #f9f5f5;
    border: 1px solid #838181;
    padding: 20px 36px;
    border-radius: 32px;
    outline: none;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.submit-btn {
    width: 100%;
}
.success,
.success:hover {
    background-color: #5aca6c;
}
.input-number {
    color: #838181;
    letter-spacing: 2px;
}
.input-number:focus {
    color: #000;
}

@media (max-width: 991px) {
    .contact-form {
        padding-right: 32px;
        padding-left: 32px;
    }

    .contact-form form {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .contact-form form {
        width: 80%;
    }
    .contact-form {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 576px) {
    .contact-form form {
        width: 100%;
    }
}
