.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    overflow-y: visible;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
}
.slider-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    width: 58%;
    margin-bottom: 60px;
    margin-left: auto;
}
/* .slider-header-container h2 {
    text-align: center;
} */
.btns-container {
    display: flex;
}
.slides-container {
    display: flex;
    overflow-y: clip;
    width: 101%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 54px;
    scroll-snap-type: x mandatory;
}
.slides-container::-webkit-scrollbar {
    display: none;
}

.slides-container > div {
    scroll-snap-align: start;
}

.btn-next,
.btn-previous {
    width: 64px;
    height: 64px;
    transition: scale 0.2s ease-in-out;
}
.btn-next:hover,
.btn-previous:hover {
    scale: 0.7;
}

@media (max-width: 991px) {
    .slider {
        padding-left: 32px;
        padding-right: 32px;
    }
    .slider-header-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .slider {
        padding-left: 20px;
        padding-right: 20px;
    }
    .slider-header-container {
        margin-left: 0;
    }
}
